.summary-card {
  width: 650px;
  max-width: 95%;
  background: white;
  border-radius: 25px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.12);
}

.summary-card h1 {
  color: #ff4d88;
  margin-bottom: 10px;
}

.subtitle {
  color: #777;
  margin-bottom: 35px;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 22px;
  background: #fff4f8;
  border-radius: 15px;
  margin-bottom: 18px;
}

.summary-item strong {
  color: #ff4d88;
}

.summary-card button {
  margin-top: 20px;
  width: 100%;
  padding: 18px;
  border: none;
  border-radius: 40px;
  background: #ff4d88;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.summary-card button:hover {
  background: #ff2d73;
}

.success-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.success-text {
  color: #ff4d88;
  margin-top: 20px;
  font-size: 30px;
}

.footer-note {
  margin-top: 15px;
  color: #888;
  font-size: 14px;
  font-style: italic;
}